@import "../../global.scss";

.button-primary, .button-outline{
    background-color: $dark-red;
    border: 5px solid $dark-red;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: $white;
    width: 10rem;
    height: 5rem;

    &:hover, &:focus{
        background-color: transparent;
    }
}

.button-outline{
    background-color: transparent;

    &:hover, &:focus{
        background-color: $dark-red;
    }
}