@import "../../global.scss";

.home-main{
    width: min(100% - 8rem, 100rem);
    margin-inline: auto;
    margin-block: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        width: 15ch;
    }

    .bg-text{
        position: absolute;
        text-align: center;
        font-family: 'Saira Stencil One', cursive;
        font-size: 250px;
        line-height: 1;
        opacity: 0.05;
        transform: rotate(-30deg);
        bottom: 20px;
        left: -250px;
        z-index: -1;
    }

    .home-buttons{
        display: flex;
        gap: 4rem;
        margin-top: 4rem;
    }
}

@media (max-width: 1050px) {
    .home-main{
        text-align: center;

        h1{
            width: 100%;
        }

        .home-buttons{
            margin-inline: auto;
            justify-content: center;
        }
    }
}

@media (max-width: 750px) {
    .home-main{
        width: min(100% - 4rem, 100rem);
        text-align: center;

        .home-buttons{
            flex-direction: column;
            gap: 2rem;
            width: 50%;
        }
    }
}

@media (max-width: 600px) {
    .home-main{
        width: min(100% - 2rem, 100rem);

        .home-buttons{
            width: 100%;
            a{
                font-size: 24px;
            }
        }
    }
}