@import "../../global.scss";

.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    width: min(100% - 8rem, 100rem);
    margin-inline: auto;
    padding-block: 4rem;
    transition: all 1s ease-in-out;

    .nav-desktop{
        display: flex;
        justify-content: flex-end;
        min-width: 50%;
        gap: 10%;

        @media (max-width: 1050px) {
            position: fixed;
            top: 0;
            right: 100%;
            bottom: 0;
            width: 100%;
            height: 100vh;
            gap: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgba($dark-blue, 0.8);
            backdrop-filter: blur(2px);
            transform: translate(0);
            transition: 0.3s ease transform;
            z-index: 1;

            a{
                margin-block: 1rem;
            }
        }
    }

    .mobile-menu-open {
        right: 0;
        left: 0;
    }

    .nav-button{
        display: none;
        
        &:hover, &:focus {
            color: $dark-red;
        }

        @media (max-width: 1050px) {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: flex-end;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 2.5rem;
            width: 50%;
            transition: 0.3s ease all;
        }
    }

    .nav-link{
        font-size: 36px;

        &:hover, &:active, &:focus{
            color: $dark-red;
            outline: none;
        }
    }

    .active{
        color: $dark-red;
    }
}

@media (max-width: 1050px) {
    .page-header{
        padding-block: 2rem;
        width: min(100% - 4rem, 100rem);


        .nav-logo{
            width: 100%;
            height: 100%;
            align-self: center;
        }
    }
}

@media (max-width: 600px){
    .page-header{
        width: min(100% - 2rem, 100rem);
    }
}