@import "../../global.scss";

.about-main{
    width: min(100% - 8rem, 100rem);
    margin-inline: auto;
    margin-block: 2rem;
    text-align: left;

    .about-hero{
        display: flex;
        gap: 10rem;
        margin-block: 2rem;
        justify-content: space-between;

        .about-text{
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
        .about-img{
            width: 30%;
            img{
                box-shadow: 22px 13px 34px 37px rgba(0,0,0,0.1);
                border-radius: 20px;
            }
        }
    }

    .about-details{
        display: flex;
        gap: 10rem;
        margin-block: 2rem;
        justify-content: space-between;

        .about-skills{
            margin-block: 2rem;

            .about-skill{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-block: 1rem;

                p{
                    font-weight: bold;
                    margin-right: 5rem;
                }

                svg{
                    transform: scale(2);
                    margin-left: 1rem;
                }
            }
        }

        aside{
            display: flex;
            flex-direction: column;

            .about-resume{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4rem;
                margin-block: 2rem;
            }

            .about-links{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                gap: 2rem;
                margin-block: 2rem;
                font-size: 24px;

                a{
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                }

                a:hover, a:focus{
                    transition: all 0.3s ease-in-out;
                    color: $dark-red;
                }

            }
        }
    }

    .about-buttons{
        display: flex;
        gap: 4rem;
        margin-block: 2rem;
        justify-content: center;
    }
}

@media (max-width: 1050px){

    .about-main{
        text-align: center;
        width: min(100% - 4rem, 100rem);
    
        .about-hero{
            flex-direction: column;
            gap: 5rem;
    
            .about-text{
                width: 80%;
                margin-inline: auto;
            }
            .about-img{
                width: 50%;
                margin-inline: auto;
            }
        }
    
        .about-details{
            flex-direction: column;
            gap: 0;
    
            .about-skills{
                margin-inline: 10%;
            }
    
            aside{
                display: flex;
                flex-direction: column;
    
                .about-resume{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4rem;
                    margin-block: 2rem;
                }
    
                .about-links{
                    align-items: center;
                    gap: 1rem;
                }
            }
        }
    
        .about-buttons{
            display: flex;
            gap: 4rem;
            margin-block: 2rem;
            justify-content: center;
        }
    }
}

@media (max-width: 600px){

    .about-main{
        width: min(100% - 2rem, 100rem);

        .about-hero{
            .about-text{
                width: 90%;
            }
            .about-img{
                width: 80%;
                margin-inline: auto;
            }
        }
    
        .about-details{
            flex-direction: column;
            gap: 0;

            .about-skills{
                margin-inline: 5%;
                
                .about-skill{
                    p{
                        margin-right: 2rem;
                    }
    
                    svg{
                        transform: scale(1.5);
                        margin-left: 0.5rem;
                    }
                }
            }
    
            aside{
                .about-resume{
                    gap: 2rem;
                }
                .about-links{
                    align-items: center;
                    gap: 1rem;

                    a{
                        gap: 1rem;
                        font-size: 20px;
                    }
                }
            }
        }
    
        .about-buttons{
            flex-direction: column;
            gap: 2rem;
        }
    }
}